div.newCourseCard{
    position: relative;
    width: 100%;
    height: 110px;
    background-color: rgba(167, 223, 255, 0.774);
}


a.courseTitle{
    position: absolute;
    padding-top: 1px;
    display: block;
    font-size: 15px;
    max-height: 40px;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:normal ;
    
}
dd.courseitemdetail {
    position: absolute;
    top: 60px;
    font-size: 12px;
    width: 100% !important;
}
.courselink-state{
    position: absolute;
    top: 75px;
    right: 5px;
    font-size: 10px;
}
.course-card-status{
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.dragging {
    opacity: 0.5;
  }
  
