@use '../base';

// form:has(.report-form) {
.form form {
  &[dragging] {
    background-color: base.$primary-color-light;
  }
}

#form-messages {
  &::after {
    content: 'またはここにファイルをドロップ';
  }
}

.backup-text-container {
  text-align: start;

  .backup-text {
    border: gray 1px solid;
    padding: 10px;
  }
}
