div.new-course-card{
    width: 100%;
    height: 120px !important;
    background-color: rgb(167 223 255 / 77.4%);
    position: relative;
}


a.course-title{
    padding-top: 1px;
    display: block;
    font-size: 15px;
    max-height: 40px;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:normal ;
    
}

.teachers {
    position: absolute;
    top: 60px;
    font-size: 12px;
    width: 100% !important;
}

.link-state.course-card-status-child{
    position: absolute;
    bottom: 17px;
    right: 5px;
    font-size: 10px;
}


.status{
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.dragging {
    opacity: 0.5;
  }
  
