@forward './color';
@forward './mixin';
@forward './placeholder-selector';

@use './color';

.unselectable {
  user-select: none;
}

.over-x {
  overflow-x: auto;
}

button,
input[type='button'] {
  width: 100%;
  min-height: 50px;
  background-color: color.$primary-color;
  border-color: color.$primary-color-dark;

  &:hover,
  &:disabled {
    background-color: color.$primary-color-light;
  }
}

.screenshot {
  img {
    width: 500px;
    margin: 10px;
    box-shadow: 0 0 10px 1px gray;
  }
}
